/* Global */
:root {
    /* Color https://www.design-seeds.com/atlas_winter1/palette-overview/*/
    --color-white: #ffffff;
    --color-light-white: #F5F5F2;
    --color-dark-white: #F4F3F1;
    --color-light-pink:#ECE3E3;
    --color-pink: #D4C1C4;
    --color-dark-pink:#b88b92;
    --color-brown: #A67A60;
    --color-dark-brown: #3D2A20;
    --color-light-brown: #D6B9A4;
    --color-beige : #E1DFD3;
    --color-dark-grey: #565D70;
    --color-grey: #A39FA8;
    --color-light-grey: #E7EBF0;
    --color-green: #95AB99;
    --color-dark-green : #47564F;
    --color-blue: #7580A1;
    --color-light-blue: #C1C8D9;
    --color-dark-blue: #263663;
    --color-red: #96372E;
    --color-light-red: #E8443F;
    --color-dark-red: #7D2C38;
    --color-yellow: #B89757;
    --color-black: #000000;
    


    /* Font size */
    --font-large: 43px;
    --font-medium: 25px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-redius: 4px;
    --size-max-width: 1200px;

    /* Animation */
    --animation-duration: 350ms;    
}

/* Universal tags : 공통적으로 적용되어야 할 것 */
* {
    box-sizing: border-box;
}

body {
    /* 구글 폰트 적용*/
    font-family: 'Open Sans';
    margin: 0;
    cursor: default;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

ul {
    list-style: none;
    padding-left: 0;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

/* Typography : 웹사이트 전반적으로 쓰여질 패딩|텍스트
에 대해서 스타일링을 먼저 함*/

h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
  }
  
  h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
  }
  
  h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
  }
  
  p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
  }

/* Styling */

/* Navbar */
#navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-brown);
    align-items: center;
    color: var(--color-white);
    padding: 16px;
    /* max-width: var(--size-max-width);
    margin: auto; */
}

.navbar__menu {
    display: flex;
}

.navbar__logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}
.navbar__logo a:hover {
    color: var(--color-light-white);
}
.navbar__menu__item {
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: var(--size-border-redius);
}

.navbar__menu__item.active {
    border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
    background-color: var(--color-light-brown);
}

/* Home */
#home {
    background: url('imgs/home_background.png') center/cover no-repeat;
    padding: 40px;
    text-align: center;
    /* max-width: var(--size-max-width);
    margin: auto; */
}

.home__avator {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
    color: var(--color-white);
}

.home__contact {
    color: var(--color-white);
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-white);
    border-radius: 4px;
}

.home__contact:hover {
    color: var(--color-light-white);
    border-color: var(--color-light-white);
}

/* Section common */
.section {
    padding: 50px;
    text-align: center;
    margin: auto;
}

.section__container {
    max-width: var(--size-max-width);
    margin: auto;
}

/* About */
.about__majors {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}
/* TODO: 모바일 반응형 적용해야됨 */
.major {
    padding: 20px;
}

.major__icon {
    width: 170px;
    height: 170px;
    line-height: 170px;
    font-size: 70px;
    margin: auto;
    color: var(--color-blue);
    border: 1px solid var(--color-blue);
    border-radius: 50%;
    margin-bottom: 16px;
}

.major__title, .major__description {
    color: var(--color-dark-grey);
}

.major__description {
    font: var(--font-small);
}

.major__icon i {
    transition: all var(--animation-duration) ease;
}

.major__icon:hover i {
    color: var(--color-dark-blue);
    transform: scale(1.1);
}

.job {
    display: flex;
    align-items: center;
}
.job__description {
    margin: 0 16px;
    text-align: left;
}

.job__name,
.job__period {
    color: var(--color-grey);
}

.job__name {
    font-size: var(--font-small);
    font-weight: bold;
}

.job__period {
    font-size: var(--font-micro);
}


/* Skills */
#skills {
    background-color: var(--color-beige);
}

.skillset {
    display: flex;
    background-color: var(--color-light-grey);
    color: var(--color-light-white);
    margin: 20px 0;
}

.skillset__title {
    color: var(--color-white);
    font-weight: bold;
}

.skillset__left {
    flex-basis: 60%;
    background-color: var(--color-dark-grey);
    padding: 20px 40px;
}

.skill {
    margin-bottom: 23px;
}

.skill__description {
    display: flex;
    justify-content: space-between;
}

.skill__bar {
    width: 100%;
    height: 3px;
    background-color: var(--color-grey);
}

.skill__value {
    height: 3px;
    background-color: var(--color-light-red);
}

.skillset__right {
    flex-basis: 40%;
}

.tools {
    background-color: var(--color-grey);
}

.tools, .etc {
    padding: 25px;
    margin-bottom: 10px;
}

.etc > * {
    color: var(--color-dark-grey);
}

/* Work */

.work__categories {
    margin: 40px;
}

.categroy__btn {
    border: 1px solid var(--color-grey);
    border-radius: var(--size-border-redius);
    font-size: var(--font-regular);
    padding: 8px 40px;
    margin: 2px 5px;
}

.categroy__btn.active,
.categroy__btn:hover {
    background-color: var(--color-light-brown);
    color: var(--color-white);
}

.categroy__btn.active .category__count,
.categroy__btn:hover .category__count {
    opacity: 1;
    top: 0;
}

.categroy__btn.active .category__text,
.categroy__btn:hover .category__text {
    padding-left: 0px;
}

.category__count {
    background-color: var(--color-dark-blue);
    border-radius: 50%;
    color: var(--color-white);
    width: 24px;
    height: 24px;
    /* span 때문에 모양이 딱 붙어있음.. inline-block으로 바꿔보기 */
    display: inline-block;
    /* 숫자 중간으로 옮기기 */
    line-height: 24px;
    position: relative;
    top: -20px;
    left: 4px;
    /* 평소에는 보이지 않게 설정 */
    opacity: 0;
    transition: all var(--animation-duration) ease-in;
}

.category__text {
    padding-left: 22px;
}

.work__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 250px;
    margin: 2px;
    background-color: var(--color-light-white);
}

.project__img {
    max-width: 100%;
    max-height: 100%;
}

.project__description {
    position: absolute;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(10px);
    transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description {
    opacity: 0.8;
    transform: translateY(0px);
}

.project__description h3 {
    color: var(--color-white);
}

.project__description h3::after {
    content: '';
    display: block;
    position: relative;
    left: 50%;
    width: 25px;
    height: 2px;
    margin-left: -12px;
    margin-top: 8px;
    background-color: var(--color-dark-white);
}

/* Testimonial */
#testimonials {
    background-color: var(--color-light-white);
}

.testimonials {
    margin: 40px;
}

.testimonial {
    display: flex;
    margin: 30px 0;
}

.testimonial__avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.testimonial__speech-bubble:nth-child(odd) {
    margin-right: 40px;
}

.testimonial__speech-bubble:nth-child(even) {
    margin-left: 40px;
}

.testimonial__speech-bubble {
    padding: 18px;
    background-color: var(--color-white);
    border-radius: var(--size-border-redius);
}

.testimonial__speech-bubble p {
    color: var(--color-grey);
}

.testimonial__speech-bubble a {
    color: var(--color-dark-pink);
}